<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KanbanBoard.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KanbanBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KanbanBoard.Presentation.Properties.Settings>
            <setting name="CurrentBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="TogglePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AskedUserForStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockToggle" serializeAs="String">
                <value>False</value>
            </setting>
        </KanbanBoard.Presentation.Properties.Settings>
        <KanbanBoard.Properties.Settings>
            <setting name="CurrentBoard" serializeAs="String">
                <value />
            </setting>
            <setting name="AskedUserForStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </KanbanBoard.Properties.Settings>
    </userSettings>
</configuration>