<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" />
  <package id="FluentFTP" version="33.0.3" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net461" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="Prism.Unity" version="7.2.0.1422" targetFramework="net461" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net461" />
  <package id="System.Collections" version="4.0.11" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net461" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net461" />
  <package id="System.Linq" version="4.1.0" targetFramework="net461" />
  <package id="System.Linq.Expressions" version="4.1.1" targetFramework="net461" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="net461" />
  <package id="Unity.Container" version="5.11.1" targetFramework="net461" />
</packages>